html, body {
    width: 100px;
}

h1.title {
    background: orange;
    color: antiquewhite;
}

.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.outliner:hover {
    background-color: #CFF2F2;
}

.outliner {
    background-color: #E5F2F2;
}